.venv
.idea
dataset

**/__pycache__/
*.pyc

weights/swin_base_patch4_window7_224_1k.pth

paper/llncsdoc.pdf
paper/AnonymousSubmission2027.pdf
paper/CameraReady2027.pdf
paper/ReproducibilityChecklist.pdf